{% extends "base.html" %}
  {% load static %}
  {% block content %}

  <div class="container">
    <div class="banner_content text-center">
      <h1>Matches Statistics!</h1>
    </div>
  </div>

      <div class="container">
        <div class="row">
          <div class="col-sm">
            <center><h3>Total Matches</h3></center>
            <table id="matches" class="table table-striped table-bordered" style="width:100%">
              <thead>
                  <tr>
                    <th data-data="winner">Winner</th>
                    <th data-data="number_of_rounds">Number of rounds</th>
                    <th data-data="created_at">Start date</th>
                    <th data-data="update_at">End date</th>
                    <th data-data="id">Details</th>
                  </tr>
              </thead>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
            <center><h3>Match Detail</h3></center>
            <table id="match_detail" class="table table-striped table-bordered" style="width:100%">
              <thead>
                  <tr>
                    <th data-data="round">Round</th>
                    <th data-data="round_winner">Round Winner</th>
                    <th data-data="winner_move">Winner Move</th>
                  </tr>
              </thead>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
            <center><h3>Ranking</h3></center>
            <table id="ranking" class="table table-striped table-bordered" style="width:100%">
              <thead>
                  <tr>
                    <th data-data="winner">Player</th>
                    <th data-data="victories">Victories</th>
                  </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>

  <script src="{% static 'js/matches.js' %}"></script>
  {% endblock %}
|
